* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #24282a;
  height: 100vh;
}
.calc-body {
  width: 300px;
  height: 400px;
  display: grid;
  grid-template-rows: 30% 70%;
}
.calc-display {
  background-color: #37414d;
  padding: 20px;
  display: grid;
  grid-template-rows: 1fr 2fr;
  border-radius: 20px 20px 0px 0px;
  input {
    border: none;
    background-color: #37414d;
    color: white;
    width: 100%;
  }
}
.expression {
  font-size: 25px;
}
.result {
  font-size: 30px;
  text-align: end;
}
.calc-buttons {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #e4e7ee;
  padding: 20px;
  border-radius: 0px 0px 20px 20px;
}
.equal {
  grid-column: 3/5;
  background-color: #ed7908;
}
.btn {
  display: block;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  border: none;
  box-shadow: 1px 1px 10px -2px #000000;
  cursor: pointer;
}
.clear {
  background-color: #3183e0;
}
.math-operation {
  background-color: #4f5962;
}
.num {
  background-color: #7a8196;
}
.dot {
  background-color: #7a8196;
}
.bracket {
  background-color: #4f5962;
}
.disabled {
  animation: disabledAdded 0.5s linear forwards;
  cursor: default;
}

@keyframes disabledAdded {
  0% {
    background-color: #4f5962;
  }
  100% {
    background-color: #9eadbb;
  }
}
